body {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: #fff;
  /* color: var(--col-itext); */
  /* min-height: calc(100vh - 16px);*/
}

.screen {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 2px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.icolumn,
.ucolumn {
  display: flex;
  flex-direction: column;
  margin: 4px;
  border: 1px solid #666;
}

.icolumn {
  width: 25%;
  align-items: flex-start;
}

.ucolumn {
  width: 25%;
  align-items: stretch;
}

.clock {
  font-family: monospace;
}

.clock-interval {
  font-size: 80%;
  font-family: monospace;
  opacity: 0.7;
}

.info {
  padding: 12px;
  width: calc(100% - 24px);
}

.i-money {
  font-family: monospace;
}

.i-name {
}

.i-other {
  font-size: 60%;
}

.i-wide-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.iu-stats {
  font-size: 60%;
}

.iu-table {
  font-size: 60%;
  width: 100%;
}

.iu-table td.l,
.iu-table th.l {
  text-align: left;
  width: 20%;
}

.iu-table td.r,
.iu-table th.r {
  padding-left: 8px;
  text-align: right;
  width: 20%;
}

.leading-zeros {
  opacity: 0.3;
}
