.upgrade {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4px;
  padding: 0;
  border: 1px solid #888;
}

.left {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
}

.level {
  text-align: center;
  width: 40px;
  min-width: 40px;
  border-right: 1px solid #888;
  margin-right: 8px;
}

.name {
  font-size: 80%;
}

.value {
  font-size: 100%;
  color: #ccc;
}

.next-values {
  font-size: 60%;
  color: #ddd;
}

.description {
  font-size: 50%;
}

.full-bought {
  border-color: #0f0;
}

.part-bought {
  border-color: #ff0;
}

.not-bought {
  border-color: #f00;
}

.part-bought.not-available {
  border-color: #880;
}

.not-bought.not-available {
  border-color: #800;
}

.buy {
  margin: 0;
  width: 80px;
}

.not-available .name,
.not-available .value,
.not-available .level,
.not-available .next-values {
  opacity: 0.5;
}

.available .buy-disabled {
  opacity: 0.8;
  cursor: wait;
}

.not-available .buy {
  opacity: 0.8;
  cursor: not-allowed;
}

.buy-enabled {
  cursor: pointer;
}

.buy {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 2px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: monospace;

  color: white;
  border: 2px solid #666;
}

.buy-enabled:hover {
  background-color: white;
  color: #282c34;
}

.buy-enabled:active {
  background-color: #eee;
  color: black;
  border-color: white;
  font-weight: bold;
}

.buy-3d {
  font-size: 60%;
}
.buy-6d {
  font-size: 53%;
}
.buy-9d {
  font-size: 39%;
}
.buy-12d {
  font-size: 35%;
}

.tooltip {
  flex: 1;
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: calc(100% + 10px);
  left: 50%;
  margin-left: -50%;
  width: calc(100% - 24px);
  color: #222;
  text-align: left;
  font-size: 13px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition: visibility 0s linear 0.4s;
}

.center-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}

.smallSpace {
  margin-right: 4px;
}
