<!DOCTYPE html>
<html>
  <body style="margin: 0">
    <div id="theDiv" style="background-color: #222; width:100vw; height:100vh;" onmousedown="return myClick(event)" oncontextmenu="return false"></div>
  </body>
  <script>
    var GREEN = "rgb(34, 255, 34)"; // toto musi byt v rgb formate
    var RED = "#F22";
    var NEUTRAL = "#222";
    function myClick(event) {
        // naschval naopak
        if (event.button == 2) return myLeft();
        if (event.button == 0) return myRight();
    }
    function myLeft() {
      makeRequest("LEFT")
      return false
    }
    function myRight() {
      makeRequest("RIGHT")
      return false
    }
    function makeRequest(target) {
      try {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'clicked' %}", false);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
          if(xhr.status === 200) signalColor(GREEN);
          else signalColor(RED);
        };
        xhr.send(JSON.stringify({
            user: "{{ user }}",
            target: target,
            timestamp: new Date().getTime(),
        }));
      }
      catch(error) {
        signalColor(RED);
      }
    }
    function signalColor(color) {
      if (document.getElementById("theDiv").style.backgroundColor == GREEN) return;
      document.getElementById("theDiv").style.backgroundColor = color;
      setTimeout(
        function(){ document.getElementById("theDiv").style.backgroundColor = NEUTRAL; },
        500
      );
    }
  </script>
</html>

